.swiper-pagination {
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination-bullet-active {
  background-color: #4A6CF7;
}

.swiper-button-prev,
.swiper-button-next {
  color: #4A6CF7;
}