@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  height: 100%;
}


@layer components {
  html {
    scroll-behavior: smooth;
  }

  .smooth-scrolling {
    scroll-behavior: smooth;
  }

  .z1000 {
    z-index: 1000;
  }

  .special-border-name {
    padding-bottom: 1px;
    text-align: center;
  }

  .special-border-name:hover {
    cursor: pointer;
  }

  .animatedUnderline {
    position: relative;
  }
  
  .animatedUnderline::after {
    content: "";
    position: absolute;
    bottom: -1px; /* Adjust the value to move the underline down */
    left: 0;
    width: 0;
    height: 2px; /* Adjust the value to change the height of the underline */
    background-color: #FBFAF6;
    transition: width 0.2s ease-in-out;
  }
  
  .animatedUnderline:hover::after {
    width: 100%;
  }

  .backgroundImg {
    background-color: #000000;
  }

  .backdropFilter {
    backdrop-filter: blur(10px);
  }
  
  @keyframes border-animation {
    0% { border-image: linear-gradient(orange, blue) 0%; };
    25% { border-image: linear-gradient(blue, green) 0%; };
    50% { border-image: linear-gradient(green, yellow) 0%; };
    75% { border-image: linear-gradient(yellow, red) 0%; };
    100% { border-image: linear-gradient(red, orange) 0%; };
  }
  
  .animate-border {
    animation: border-animation 4s infinite;
  }

  @keyframes colorAnimation {
    0% {
      color: #ff0000; /* Start color */
    }
    50% {
      color: #00ff00; /* Mid color */
    }
    100% {
      color: #0000ff; /* End color */
    }
  }
}