@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
  --brand: rgb(10, 255, 157);

}

*::selection {
  background: var(--brand);
  color: var(--background);
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .scrollAdd {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollAdd::-webkit-scrollbar {
    display: none;
  }

  .z1000 {
    z-index: 1000;
  }

  .tabletBorder {
    padding-bottom: 1px;
    text-align: center;
  }

  .tabletBorder:hover {
    cursor: pointer;
  }

  .animatedUnderline {
    position: relative;
  }
  
  .animatedUnderline::after {
    content: "";
    position: absolute;
    bottom: -1px; /* Adjust the value to move the underline down */
    left: 0;
    width: 0;
    height: 2px; /* Adjust the value to change the height of the underline */
    background-color: #FBFAF6;
    transition: width 0.2s ease-in-out;
  }
  
  .animatedUnderline:hover::after {
    width: 100%;
  }
  
  .sectionWrapper {
    position: relative;
    z-index: 10;
    max-width: 1150px;
    margin: auto;
    padding: 9.6rem;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .section-wrapper {
      padding: 7.2rem 2.4rem;
    }
  }
}
