@tailwind base;
@tailwind components;
@tailwind utilities;

html, body:root {
  height: 100%;
  background-color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .scrollAdd {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollAdd::-webkit-scrollbar {
    display: none;
  }

  .z1000 {
    z-index: 1000;
  }

  .tabletBorder {
    padding-bottom: 1px;
    text-align: center;
  }

  .tabletBorder:hover {
    cursor: pointer;
  }

  .animatedUnderline {
    position: relative;
  }
  
  .animatedUnderline::after {
    content: "";
    position: absolute;
    bottom: -1px; /* Adjust the value to move the underline down */
    left: 0;
    width: 0;
    height: 2px; /* Adjust the value to change the height of the underline */
    background-color: #FBFAF6;
    transition: width 0.2s ease-in-out;
  }
  
  .animatedUnderline:hover::after {
    width: 100%;
  }
  
}
