@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  will-change: auto;
}

body {
  background-color: black;
  height: 100%;

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body::-webkit-scrollbar {
  display: none;
}

@layer components {
  html {
    scroll-behavior: smooth;
  }

  .bgBackground {
    background: linear-gradient(360deg, #080321, #0a0625, #0c0928, #0d0c2c, #0d0f30, #0d1134, #0e1338, #0f153c, #101640, #111845, #121949, #131b4d);
  }

  .test {
    box-shadow: -4px -4px 30px rgba(254, 225, 64, .2), 4px -4px 30px rgba(250, 112, 154, .2);
  }

  .border-half {
    --border-width: 0.5px;
    border-width: var(--border-width);
  }

  .prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .scrollAdd {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollAdd::-webkit-scrollbar {
    display: none;
  }

  .testimonial-container {
    transition: transform;
  }
  
  .testimonial-container:hover {
    transform: scale(1.05);
  }

  .grabCursor {
    cursor: grab;
  }
  
  .grabCursor:active {
    cursor: grabbing;
  }

  .absolute-select-none {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .blur-effect {
    backdrop-filter: blur(10px);
    pointer-events: none;
  }
  
  .testimonial-container:hover .blur-effect {
    opacity: 1;
  }

  .smooth-scrolling {
    scroll-behavior: smooth;
  }

  .z1000 {
    z-index: 1000;
  }

  .special-border-name {
    padding-bottom: 1px;
    text-align: center;
  }

  .special-border-name:hover {
    cursor: pointer;
  }

  .animatedUnderline {
    position: relative;
  }
  
  .animatedUnderline::after {
    content: "";
    position: absolute;
    bottom: -1px; /* Adjust the value to move the underline down */
    left: 0;
    width: 0;
    height: 2px; /* Adjust the value to change the height of the underline */
    background-color: #FBFAF6;
    transition: width 0.2s ease-in-out;
  }
  
  .animatedUnderline:hover::after {
    width: 100%;
  }

  .backgroundImg {
    background-color: #000000;
  }

  .backdropFilter {
    backdrop-filter: blur(10px);
  }
  
  @keyframes border-animation {
    0% { border-image: linear-gradient(orange, blue) 0%; };
    25% { border-image: linear-gradient(blue, green) 0%; };
    50% { border-image: linear-gradient(green, yellow) 0%; };
    75% { border-image: linear-gradient(yellow, red) 0%; };
    100% { border-image: linear-gradient(red, orange) 0%; };
  }
  
  .animate-border {
    animation: border-animation 4s infinite;
  }

  @keyframes colorAnimation {
    0% {
      color: #ff0000; /* Start color */
    }
    50% {
      color: #00ff00; /* Mid color */
    }
    100% {
      color: #0000ff; /* End color */
    }
  }
  
}